.slider{
  text-align: center;
  height: 100vh;
  display: flex;
}
.direction{
  z-index: 1;
  background: white;
  align-self: center;
  width: 2rem;
  height: 4rem;
  display: flex;
  align-items: center
}
.direction > span{
  margin: auto;
}
.tint{
  position: absolute;
  background: red;
  opacity: .2;
  width: 100vw;
  height: 100vh;

}
.image-bg{
  z-index: -1;
  position: absolute;
  background: black;
  /* opacity: .2; */
  width: 100vw;
  min-height: 100vh;
}
.image-bg > img{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.prev{
  position: absolute;
  left: 0;
}
.next{
  position: absolute;
  right: 0;
}
.markers{
  z-index: 1;
  align-self: flex-end;
  margin: auto;
  border: 1px solid red;
  margin-bottom: 2rem;
}
.slide-indicator{
  display: inline-block;
  margin: .2rem;
  background: white;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}